header {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;

    background-color: var(--black);
    padding: 2rem;

    color: var(--white);
}

nav {
    display: flex;
    gap: 2rem;
}

a {
    text-decoration: none;
    color: var(--grey);

    font-size: 1rem;
}

a:hover {
    color: var(--white);
    text-decoration: underline;
}